<br>
<br>
<br>
<div *ngFor="let climb of climbingAreas">
  <table><tr><td>{{climb.name}}</td></tr></table>
<table align="center" class='table table-striped table-bordered'>
<tbody>
  <tr>
    <td><img src="{{climb.imgUrl}}"> </td>
    <td>{{climb.description}}</td>
      <tr>
      <td>Events
        <br>
        <br>
        <table>
            <div *ngFor="let event of climb.events" (click)="eventRoute(event)">
        <tr>{{event.eventName}}
          <tr>{{event.eventDate | date: 'EEEE, MMMM d, y, h:mm a'}} </tr>
          <br>
        </div>
        </table>
      </td>
      <td>
        Users who frequent
        <br>
        <br>
        <table>
          <div>
        <tr *ngFor="let user of climb.users" (click)="userRoute(user.id)">
        <td>{{user.firstName}}</td>
        <div *ngFor="let climbType of user.userClimbTypes">
        <td >{{climbType.climbType.name}}</td>
      </div>
    </div>
      </table>
      </td>
    </tr>
  </tbody>
  </table>
</div>


