

.areaName{
  background-color: #45556d;
  text-decoration: overline;
  text-align: center;
  color: whitesmoke;
}
.events{
  text-decoration: overline;
  background-color: #657282;
  color: whitesmoke;
}


.tableContents{
  background-color: #87a0b5;
  color: whitesmoke;
}
.tableContents:hover{
  /* background-color: blue; */
  color: white;
  background-color: #5f8dcd;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(105,90,77, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(105,90,77, 1);
  box-shadow: 10px 10px 99px 6px rgba(105,90,77, 1);
}
.tablez{
  background-color: #7a8ca2;
  color: whitesmoke;
}
.tablez:hover{
  /* background-color: blue;
   */
   color: white;
   background-color: #5f8dcd;
   -webkit-box-shadow: 10px 10px 99px 6px rgba(105,90,77, 1);
   -moz-box-shadow: 10px 10px 99px 6px rgba(105,90,77, 1);
   box-shadow: 10px 10px 99px 6px rgba(105,90,77, 1);
}

.titlediv{
  font-size: 30px;
}
img {
  width: auto;
  height: 300px;
}

td{
  width: 500px;
  text-align: center;
}
tr{
  height: auto;
  /* width: 50%; */
}
th{
  width: 500px;
}
table{
  table-layout: fixed;
  border-spacing: 0ch;
  padding: 0%;
  border: none}

