h3{
  color: #695a4d;
  text-align: center;
  font-family: Georigia, serif;
}
h5{
  color: #252f2d;
  font-weight: bold;
  font-family: Georigia, serif;
}
h6{
  color: #5f8dcd;
  font-family: Georigia, serif;
}
p{
  color: #695a4d;
  font-family: Georigia, serif;
}
.cc2 {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  /* transition: 0.3s; */
  /* width: 40%; */
  /* display: flex; */
  /* display: inline-block; */
  height: 100 px;
  width: 100 px;
  /* width:200px; */
  /* text-align:center; */
  /* display:block; */
  background-color: #c8d4e3;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  /* flex: 0.7; */
}
#users{
  /* background-color: lightcyan; */
}
#newEvents{
  /* background-color: lightsalmon; */
}
#rightPane{
  /* background-color: lightblue; */
}
.hoverClickGreen:hover {
  color: white;
  background-color: forestgreen;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
}
.hoverClickBlue:hover {
  color: white;
  background-color: #5f8dcd;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(255,255,255, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(255,255,255, 1);
  box-shadow: 10px 10px 99px 6px rgba(255,255,255, 1);
}

.hoverClickBlueBrown:hover {
  color: white;
  background-color: #5f8dcd;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(105,90,77, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(105,90,77, 1);
  box-shadow: 10px 10px 99px 6px rgba(105,90,77, 1);
}

.hoverClickYellow:hover {
  color: #ffd700;
  background-color: #ffd700;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(255, 215, 0, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(255, 215, 0, 1);
  box-shadow: 10px 10px 99px 6px rgba(255, 215, 0, 1);
}
#gearLabel{
  font-weight: bold;
  font-family: Georigia, serif;
}
label{
  font-weight: bold;
  color: #5f8dcd;
  font-family: Georigia, serif;
}
#favclimber {
  color: gold;
}
#notFavClimber {
  color: white;
  font-size: xx-large;

}
.card{
  background-color: #F0F0F0;
  color: #5f8dcd;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  /* background:  transparent; */
}

/* Header/Logo Title */
.header {
  background-image: url("https://cdn2.apstatic.com/photos/climb/106389053_medium_1494104155.jpg");
    /* padding: 60px; */
    height: 200px;
   /* text-align: top-left; */
   color: #695a4d;
   font-family: Georgia, serif;
    /* color: #87a0b5; */
    font-size: 30px;
    /* background-repeat: no-repeat; */
    background-size: 300 px 100 px;
  }
