
.hoverClickGreen:hover {
  /* color: white;
  background-color: #b9e769;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1); */
  color:black;
  /* background-color: #87a0b5; */
  -webkit-box-shadow: 10px 10px 99px 6px rgb(171, 202, 222);
  -moz-box-shadow: 10px 10px 99px 6px rgb(171, 202, 222);
  box-shadow: 10px 10px 99px 6px rgb(13, 167, 202);
}
.hoverClickBlue:hover {
  color: black;
  /* background-color: #4cc9f0; */
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
  box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
}

.hoverClickOrange:hover {
  color: black;
  /* background-color: #87a0b5; */
  -webkit-box-shadow: 10px 10px 99px 6px rgb(171, 202, 222);
  -moz-box-shadow: 10px 10px 99px 6px rgb(171, 202, 222);
  box-shadow: 10px 10px 99px 6px rgb(13, 167, 202);
}
.hoverClickBlueBrown:hover {
  color: white;
  background-color: #5f8dcd;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(105,90,77, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(105,90,77, 1);
  box-shadow: 10px 10px 99px 6px rgba(105,90,77, 1);
}
h5 {
  font-weight: bold;
  font-family: Georigia, serif;
  text-align: center;
}
h6{
  color: #5f8dcd;
  font-family: Georigia, serif;
}

.card{
  background-color: transparent;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  /* background:  transparent; */
}
#eventDetails {
width: 33%;
align-self: center;
/* background-color:#45556d; */
color: white;
margin-left: auto;
margin-right: auto;
text-align: center;

}


p{
  font-family: Georigia, serif;
}
#image {
  margin-left: auto;
margin-right: auto;
}

.container {
  justify-content: center;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;

}

