<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<div>
  <br>
  <div class="homepagepic">
    <div class = "headerpic"><img src="https://cdn2.apstatic.com/photos/climb/106389053_medium_1494104155.jpg" alt="" width="1010" height = "500">
    </div>
      <div class="title">CragTalk</div>
    <div class="blurb">☺ The Belaytionship Matchmaker ☺</div>

  </div>
</div>

<br>
<br>
<!-- <p> CragTalk was created by outdoor enthusiasts with the goal of connecting climbers to climbers. </p>
<p>While sometimes our introverted selves wish climbing was a solo sport, we can't deny the fact we need a partner. Come match with us and find the perfect partner and get outside today! </p> -->

<div class="cardcharacter" >
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSI1XjP0iQ2c5srA8QC1z3ZGTW_NNnIsIDgHg&usqp=CAU" alt="Avatar" style="width:100%">
  <div class="cc2">
    <p>CragTalk was created by outdoor enthusiasts with the goal of connecting climbers to climbers</p>
  </div>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb_bpuoqJg6pnJSMl1QWNBmvZlUC_U7lq6pQ&usqp=CAU" alt="Avatar" style="width:100%">
  <div class="cc2">
    <p>Become a member, join on us group climbs, & start hangin' with us!</p>
  </div>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqRUiMcOyqiI4wzyrsrPGNL4N1vbz2KgkAdA&usqp=CAU" alt="Avatar" style="width:100%">
  <div class="cc2">
    <p>Become a member, join on us group climbs, & start hangin' with us!</p>
  </div>
</div>

<carousel class ="carousel" [images]="media" style="background-color:#111;" cellsToShow=3 height=400 width=auto
lightDOM=true autoplay=true pauseOnHover=true loop=true>
  <div *ngFor="let med of media" class="carousel-cell">
    <img src="{{med.mediaUrl}}">
    </div>
</carousel>
<!-- <p>Become a member, join on us group climbs, & start hangin' with us!</p> -->
<p>CragTalk... where Monkeying around IS encouraged.</p>
<br>
<br>
  <table align="center" class = "mytable">
    <tr>
      <td align="center" class="mx-auto">
  <div class="container-md">
  <h1>Recent Climbs</h1>
  <table align="center" class='table table-striped table-bordered'>
    <tr >
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <!-- <td>Description</td> -->
    </tr>
  </thead>
  <tbody>
    <tr (click)='eventClick()' *ngFor="let recent of recentClimbs.slice().reverse()" >
      <td>{{recent.eventName}}</td>
      <td>{{recent.eventDate | date: 'EEEE, MMMM d, y, h:mm a'}}</td>
      <!-- <td>{{recent.description}}</td> -->
    </tr>
  </tbody>
</table>
</div>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

<td align="center" class="mx-auto">
<div class="container-md">
  <h1>Group Climbs
  </h1>
  <table align="center" class='table table-striped table-bordered'>
    <thead>
      <tr >
        <th>Name</th>
        <th>Date</th>
        <!-- <td>Description</td> -->
    </tr>
  </thead>
  <tbody>
    <tr (click)='eventClick()' *ngFor="let group of groupClimbs">
      <td>{{group.eventName}}</td>
      <td>{{group.eventDate | date: 'EEEE, MMMM d, y, h:mm a'}}</td>
      <!-- <td>{{group.description}}</td> -->
    </tr>
  </tbody>
</table>
</div>
</td>
</tr>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class = "sponsors">
<h4>Our Sponsors:</h4>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBySBRuMJqOypZYplZ2TR00IH-QH-YbuLJmw&usqp=CAU" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1_Ro2P0w2FUxUb51CxDV4ASNVPFfuKpibxQ&usqp=CAU" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrM8NcFVTmQTy8pC3uTX32IGjc8TwO7v_Ujw&usqp=CAU" alt="">
<!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeQvp6pB69BwqmArSu1tGD_1_7jAd5oOpfzw&usqp=CAU" alt=""> -->
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDGCGf8GjVwwMc-OZsOoxK7ANKjHPqfEcbFA&usqp=CAU" alt="">
<br>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSub1y7Zq4z-yypgGxjba-PxwZqBeDuudb6HA&usqp=CAU" alt="">
<!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4D1C8uvs4rmvHNzsqvF6pXGVEXoXrj3DhLQ&usqp=CAU" alt=""> -->
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3Jv0jLXKNAZr3D_w3M0TIu-6MbhM58ai_Vw&usqp=CAU" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAGK9nxiB77VQxOw0620C-OrVfF1HGt1n6LQ&usqp=CAU" alt="">
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class = "socialMedia">
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-snapchat-ghost"></a>
<a href="#" class="fa fa-reddit"></a>
<p>   CragTalk™ </p><p class ="italicizeMe"> Just chalk about it. © 2020.</p>
</div>

<!-- <div style="height: 700px"></div> -->
    </div>
  </div>
</div>
