<!-- <ul>
  <li><a [routerLink]="['/home']"> Home </a></li>
  <li><a [routerLink]="['/about']"> About </a></li>
  <li><a [routerLink]="['/messages']"> Messages </a></li>
  <li><a [routerLink]="['/events']"> Events </a></li>
  <li><a [routerLink]="['/photos']"> Photos </a></li>
  <li><a [routerLink]="['/profile']"> Profile </a></li>
  <li><a [routerLink]="['/login']"> Login </a></li>
  <li><a [routerLink]="['/logout']"> Logout </a></li>
</ul> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-header" href="#">CragTalk</a>
    </div>

    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About </a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Browse Areas</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile Page</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Favorites</a></li>
          <li><a href="#">Find a Climber</a></li>
        </ul>
      </li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
        <a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
        <a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a>> -->

      <!-- </ul>
    <ul class="nav navbar-nav navbar-right">
       <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a>></li>
     </ul>
  </div>
</nav>

</body>
</html> -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CragTalk</a>
    </div>
    <ul class="nav navbar-default">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Browse Areas</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile Page</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Favorites</a></li>
          <li><a href="#">Find a Climber</a></li>
        </ul>
      </li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a>></li>
      </ul>
  </div>
</nav>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CragTalk</a>
    </div>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="#">Browse Areas</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/profile">Profile Page</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Favorites</a></li>
          <li><a href="#">Find a Climber</a></li>
        </ul>
      </li>

    </ul>
    <div class="nav">
     <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
        <!-- <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a>></li> -->
      </ul>
    </div>
    <!-- <div class="nav">
      <ul class="nav navbar-nav navbar-right"> -->
         <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
         <!-- <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a>></li> -->
       <!-- </ul>
     </div> -->
  </div>
</nav>


</body>
</html>

<!-- CRAGTALK: add collapsible about me section instead of the about me page -->
<!-- Make log in a drop down menu with a register button, like in the midterms! -->

