body{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}
table {
  vertical-align: text-top;
}

#buttondiv {
  text-align: right;
}

#leftPane{
  background-color: lightseagreen;
}
#users{
  background-color: lightcyan;
}
#newEvents{
  background-color: lightsalmon;
}
#rightPane{
  background-color: lightblue;
}
.hoverClickGreen:hover {
  color: white;
  background-color: #b9e769;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
}
.hoverClickBlue:hover {
  color: white;
  background-color: #4cc9f0;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
  box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
}

.hoverClickOrange:hover {
  color: white;
  background-color: #FF760D;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(255, 118, 13, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(255, 118, 13, 1);
  box-shadow: 10px 10px 99px 6px rgba(255, 118, 13, 1);
}
.hoverClickYellow:hover {
  color: black;
  background-color: #ffd700;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(255, 215, 0, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(255, 215, 0, 1);
  box-shadow: 10px 10px 99px 6px rgba(255, 215, 0, 1);
}
#gearLabel{
  font-weight: bold;
}
#favclimberFavorite {
  color: grey;
  font-size: x-large;
}
#favclimberUnfavorite {
  color: gold;
  font-size: x-large;
}

body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
background-image: url("https://cdn2.apstatic.com/photos/climb/106389053_medium_1494104155.jpg");
  padding: 60px;
  text-align: top-left;
  color: white;
  font-size: 30px;
  /* background-repeat: no-repeat; */
  background-size: 300 px 100 px;
}

.italicizeMe {
  font-style: italic;
}
