<br>
<!-- <div style="background-image: url('https://cdn2.apstatic.com/photos/climb/106389053_medium_1494104155.jpg'); background-size: cover;
background-repeat:no-repeat;"> -->
<div style="vertical-align: top; background-image: url('https://cdn2.apstatic.com/photos/climb/106389053_medium_1494104155.jpg');  background-repeat:no-repeat; background-size: cover;">
 <br><br>
  <h2 style="color: whitesmoke" >{{selectedUser.username}}'s Messages</h2>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
<br>
<br>


<div *ngIf = "showInbox">
<table class="table">
  <thead class="thead-dark">
    <div>
      <h3 style = "text-align: center;" >

        Inbox
      </h3>
    </div>
    <tr>
  <th>Date</th>
  <th>From</th>
  <th>Message</th>
    </tr>
  </thead>
<tbody>

<tr *ngFor = "let message of messages" >
<td (click) = "displayMessageBody(message)" rowspan="1">{{message.createdAt | date: 'MMMM d, y'}}</td>

<td (click) = "displayMessageBody(message)" rowspan="1" >{{message.sender.username}}
</td>
<td (click) = "displayMessageBody(message)" rowspan="1">{{message.messageBody}}</td>
</tr>
</tbody>
</table>
</div>

<div *ngIf = "showMessageBody">

  <br>
  <p class = "inboxMessage">
<font size = "+2">
  {{messageBody.messageBody}}
  <br><br>
      <p>
      From: {{messageBody.sender.username}} - {{messageBody.createdAt | date: 'MMMM d, y'}}
    </p>
  </font>
 </p>

  <button class="btn btn-outline-primary" (click) = "setReplyDiv(messageBody)">Reply</button>
  <button class="btn btn-outline-primary" (click) = "backToInbox()">Back to inbox</button>
</div>

<!-- <div *ngIf = "showMessageBody">

  <br>
  <p style="border:3px; border-style:solid; padding: 1em; color: white; background-color: #7a8ca2;">
<font size = "+2">
    {{messageBody.messageBody}}
    <br><br>
    <p style= "background-color: #45556d;">
    From: {{messageBody.sender.username}}
  </p>
  </font>
 </p>

  <button class="btn btn-outline-primary" (click) = "setReplyDiv(messageBody)">Reply</button>
  <button class="btn btn-outline-primary" (click) = "backToInbox()">Back to inbox</button>
</div> -->




<!-- outbox view -->

<div *ngIf = "showInbox">
  <table class = "table">
    <thead class="thead-dark">
      <div>
        <h3 style = "text-align: center;" >

          Outbox
        </h3>
      </div>
      <tr>
        <th>Date</th>
        <th>Sent To</th>
        <th>Message</th>
      </tr>
    </thead>
  <tbody>

  <tr *ngFor = "let message of sentMessages" >
  <td (click) = "displayOutboxMessageBody(message)" rowspan="1">{{message.createdAt | date: 'MMMM d, y'}}</td>
  <td (click) = "displayOutboxMessageBody(message)" rowspan="1" >{{message.receiver.username}}
  </td>
  <td (click) = "displayOutboxMessageBody(message)" rowspan="1">{{message.messageBody}}</td>
  </tr>
  </tbody>
  </table>
  </div>

  <div  *ngIf = "showOutboxMessages"m>
    <p class = "outboxMessage">
      {{outboxMessageBody.messageBody}}
      <br><br>
      Sent to: {{outboxMessageBody.receiver.username}} - {{outboxMessageBody.createdAt | date: 'MMMM d, y'}}


   </p>
    <button class="btn btn-outline-primary" (click) = "backToInbox()">Back to inbox</button>
  </div>
  <!-- <div  *ngIf = "showOutboxMessages"m>
    <p style="border:3px; border-style:solid; padding: 1em; color: white; background-color: #7a8ca2;">
      {{outboxMessageBody.messageBody}}
      <br><br>
      Sent to: {{outboxMessageBody.receiver.username}}
      mes

   </p>
    <button class="btn btn-outline-primary" (click) = "backToInbox()">Back to inbox</button>
  </div> -->





  <!-- <div *ngIf = "showReplyBox">
    <p style= "font: size = +2; background-color: #45556d; color: whitesmoke"><font size = "+2">{{managedMessage.messageBody}} - {{managedMessage.sender.username}}</font></p>
    <textarea style = "color: white; background-color: #7a8ca2;" [(ngModel)] = "newMessage.messageBody" class="form-control" type="text" name="messageBody" cols="30" rows="3" placeholder="Type message here"></textarea>
    <button class="btn btn-outline-primary" (click) = "reply(newMessage)">Send</button>
    <button class="btn btn-outline-primary" (click) = "backToInbox()">Back to inbox</button>
  </div> -->
  <div  *ngIf = "showReplyBox">
    <p class = "showMessage" ><font size = "+2">From: {{managedMessage.sender.username}} - {{managedMessage.createdAt | date: 'MMMM d, y'}} <br> <br> {{managedMessage.messageBody}} <br><br> </font></p>
    <textarea  [(ngModel)] = "newMessage.messageBody" class="form-control" type="text" name="messageBody" cols="30" rows="3" placeholder="Type message here"></textarea>
    <br>
    <br>
    <button class="btn btn-outline-primary" (click) = "reply(newMessage)">Send</button>
    <button class="btn btn-outline-primary" (click) = "backToInbox()">Back to inbox</button>
    <br>
    <br>
  </div>
  <!-- <div *ngIf = "showReplyBox">
    <p style= "font: size = +2; background-color: #45556d; color: whitesmoke"><font size = "+2">{{managedMessage.messageBody}} - {{managedMessage.sender.username}}</font></p>
    <textarea style = "color: white; background-color: #7a8ca2;" [(ngModel)] = "newMessage.messageBody" class="form-control" type="text" name="messageBody" cols="30" rows="3" placeholder="Type message here"></textarea>
    <button class="btn btn-outline-primary" (click) = "reply(newMessage)">Send</button>
    <button class="btn btn-outline-primary" (click) = "backToInbox()">Back to inbox</button>
  </div> -->



<!-- <div *ngIf = "showInbox">
  <table>
    <thead>
      <tr>
    <th (click) = "setOutboxView()">Outbox</th>

      </tr>
    </thead>
  <tbody>
    <div *ngIf = "showOutboxMessages">
  <tr *ngFor = "let message of sentMessages" >
    <td (click) = "displayOutboxMessageBody(message)">
      {{message.receiver.username}}
    </td>
  </tr>
</div>
  </tbody>
  </table>
</div>

<div *ngIf = "showOutboxMessages && showInbox">
  <p >
   {{outboxMessageBody}}
 </p>
</div> -->















